<section class="content-header">
    <h1>
        SweerAlert
        <small></small>
    </h1>
    
</section>

<section class="content">

      <div class="row">
        <div class="col-md-12">
          <button (click)="error()">Error</button>
          <button (click)="success()">Success</button>
          <button (click)="waring()">Waring</button>
          <button (click)="info()">Info</button>
          <button (click)="confim()">Confim</button>
          <button (click)="input()">Input</button>

        </div>
      </div>

</section>