<section class="content-header">
    <h1>
        Toastr
        <small></small>
    </h1>
    
</section>

<section class="content">

    
    
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <button (click)="errorToastr()">Error</button>
          <button (click)="successToastr()">Success</button>
          <button (click)="waringToastr()">Waring</button>
          <button (click)="infoToastr()">Info</button>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


</section>