<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="assets/imgs/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
       
        <ul class="sidebar-menu">
            <template ngFor let-menuItem [ngForOf]="menu.items" let-mainMenuItemIndex="index">
                <li *ngIf="showMenuItem(menuItem)" routerLinkActive="active" class="treeview">
                    <a href="#" [routerLink]="[menuItem.route]" *ngIf="!menuItem.items.length">
                        <i class="{{menuItem.icon}}"></i> <span>{{menuItem.displayName}}</span>
                    </a>

                    <a href="javascript:;" *ngIf="menuItem.items.length">
                        <i class="{{menuItem.icon}}"></i> <span>{{menuItem.displayName}}</span>
                        <span class="pull-right-container" >
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>

                    <ul class="treeview-menu">
                        <!-- menu level 2-->
                        <template ngFor let-childMenuItem [ngForOf]="menuItem.items" let-mainMenuItemIndex="index">
                            <li routerLinkActive="active"
                                *ngIf="showMenuItem(childMenuItem)"
                                >
                                <a href="#" [routerLink]="[childMenuItem.route]">
                                    <i class="{{childMenuItem.icon}}"></i> 
                                    {{childMenuItem.displayName}}
                                 </a>
                             </li>
                        </template>
                        <!-- menu level 2-->
                        
                    </ul>
                </li>

                
            </template>
            
        </ul>
       
    </section>
    <!-- /.sidebar -->
</aside>