<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="assets/imgs/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
       
        <ul class="sidebar-menu">
            <li class="header">主要导航</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>工作台</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li [routerLinkActive]="['active']"><a href="#" routerLink="/dashboard1"><i class="fa fa-circle-o"></i> 工作台 v1</a></li>
                    <li><a href="#" routerLink="/dashboard2"><i class="fa fa-circle-o"></i> 工作台 v2</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>布局选项</span>
                    <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
                    <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
                    <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
                    <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
                </ul>
            </li>
            <li>
                <a href="#" routerLink="/widget">
                    <i class="fa fa-th"></i> <span>小工具</span>
                    <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>图表</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#" routerLink="/chartjs"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                    <li><a href="#" routerLink="/morrischart"><i class="fa fa-circle-o"></i> Morris</a></li>
                    <li><a href="#" routerLink="/flotchart"><i class="fa fa-circle-o"></i> Flot</a></li>
                    <li><a href="#" routerLink="/inlinechart"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                    <li><a href="#" routerLink="/inlinechart"><i class="fa fa-circle-o"></i> ECharts</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>界面元素</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#" routerLink="/general"><i class="fa fa-circle-o"></i> General</a></li>
                    <li><a href="#" routerLink="/icons"><i class="fa fa-circle-o"></i> Icons</a></li>
                    <li><a href="#" routerLink="/buttons"><i class="fa fa-circle-o"></i> Buttons</a></li>
                    <li><a href="#" routerLink="/sliders"><i class="fa fa-circle-o"></i> Sliders</a></li>
                    <li><a href="#" routerLink="/timeline"><i class="fa fa-circle-o"></i> Timeline</a></li>
                    <li><a href="#" routerLink="/modals"><i class="fa fa-circle-o"></i> Modals</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>表单</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#" routerLink="/formGeneral"><i class="fa fa-circle-o"></i> General Elements</a></li>
                    <li><a href="#" routerLink="/formAdvanced"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                    <li><a href="#" routerLink="/formEditors"><i class="fa fa-circle-o"></i> Editors</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>表格</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#" routerLink="/simpletables"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                    <li><a href="#" routerLink="/datatables"><i class="fa fa-circle-o"></i> Data tables</a></li>
                </ul>
            </li>
            <li>
                <a href="#" routerLink="/calendarindex">
                    <i class="fa fa-calendar"></i> <span>日历</span>
                    <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-envelope"></i> <span>邮箱</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-yellow">12</small>
                            <small class="label pull-right bg-green">16</small>
                            <small class="label pull-right bg-red">5</small>
                        </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#" routerLink="/mailinbox">
                            <i class="fa fa-circle-o"></i> 
                                收件箱
                         </a>
                    </li>
                    <li>
                        <a href="#" routerLink="/mailcompose">
                            <i class="fa fa-circle-o"></i> 
                                Compose
                         </a>
                    </li>
                    <li>
                        <a href="#" routerLink="/mailread">
                            <i class="fa fa-circle-o"></i> 
                                Read
                         </a>
                    </li>
                    
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>实例</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/examples/invoice.html" routerLink="/invoice"><i class="fa fa-circle-o"></i> 账单</a></li>
                    <li><a href="pages/examples/profile.html" routerLink="/profile"><i class="fa fa-circle-o"></i> 个人资料</a></li>
                    <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> 登录</a></li>
                    <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> 注册</a></li>
                    <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> 锁屏</a></li>
                    <li><a href="pages/examples/404.html" routerLink="/error404"><i class="fa fa-circle-o"></i> 404 错误</a></li>
                    <li><a href="pages/examples/500.html" routerLink="/error500"><i class="fa fa-circle-o"></i> 500 错误</a></li>
                    <li><a href="pages/examples/blank.html" routerLink="/blankpage"><i class="fa fa-circle-o"></i> 空白页</a></li>
                    <li><a href="pages/examples/pace.html" routerLink="/pacepage"><i class="fa fa-circle-o"></i> 页面的速度</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>多级导航</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> Level One
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                </ul>
            </li>
            <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>文档</span></a></li>
            <li class="header">标签</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
        </ul>
       
    </section>
    <!-- /.sidebar -->
</aside>